html, body{
  margin: 0;
  padding: 0;
}

*,*::before, *after{
  box-sizing: inherit;
}

.row {
  margin:0;
  --mdb-gutter-x: 1.5rem;
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,
.container{padding:0;}

.default-bg-color {background-color: #fae5c9;}
.navbar-color{ background-color: rgba(0, 0, 0, 80%); }
.default-gradient{
  background: rgb(255,236,213);
  background: linear-gradient(90deg, rgba(255,236,213,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(255,236,213,1) 100%);
}

.nav-link, .nav-icon p, #Tel, .table_foot_section h2, .table_foot_section ul li a, footer p {
  color: #FFECD5 !important;
}

.nav-link, .subtitle, .description, .table_foot_section ul h2, .table_foot_section ul li, footer p, .profile_area h1{
  font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
}

#poster_title, .title, .title_certificate, .profile_area p, #profile_desc
{
  font-family: 'Playfair Display', 'Times New Roman', serif;
}

#profile_desc
{
  font-size: large;
  font-weight: bold;
}

a:hover, .table_foot_section ul li a:hover, .title{
  color: #8F6500;
  transition: color 200ms 0ms;
}

a {
  text-decoration: none;
}

.title {
  font-size: 20pt;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.subtitle{
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.description{
  font-size: 12pt;
  margin: 30px 30px;
  color: black;
  font-weight: normal;
}

.desc_button {
  border:#8F6500 1px solid;
  border-radius: 10px;
  padding: 2px 10px;
  width: fit-content;
}

.container {
  max-width: 100%;
}

.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand{
  padding-left: 20px;
}

.navbar-nav {
  width: fit-content;
}

.nav-link{
  font-weight: lighter;
  font-size: 9pt;
  background-color: transparent;
  border: none;
  opacity: 100%;
  transition: opacity 200ms 0ms;
}

.nav-link:hover, .foot_section_link:hover {
  opacity: 50%;
  transition: opacity 300ms 0ms;
}

.nav-icon{
  display: none;
}

.nav-icon p, #Tel{
  margin: 5.5px 0;
}

.nav-icon img{
  height: 35px;
  width: 35px;
  padding: 5px;
}

.nav_clicked{
  opacity: 50%;
  border-bottom: #FFECD5 1px dashed;
  border-top: #FFECD5 1px dashed;
  pointer-events: none;
}

.navbar-collapse:not(.show) {
  max-height: 0;
  transition: max-height 400ms ease-out;
  display: block;
  overflow: hidden;
}

.navbar-collapse.show {
  max-height: 200px;
  transition: max-height 400ms ease-in;
  overflow: hidden;
}

.profile_area{
  position: fixed;
  width: 100%;
  opacity: 1;
  transition: opacity 1000ms 0ms;;
}

.d-fadeout{
  opacity: 0;
  transition: opacity 1000ms 0ms;
  visibility: hidden;
}

.offset100vh{
  padding-top: 100vh;
  width: 100%;
}

.offset50px {
  padding-top: 50px;
}

.profile{
  margin: 110px auto 10% auto;
  width: 350px;
  height: 80vh;
  overflow-y: scroll;
}

.profile::-webkit-scrollbar{
  display: none;
}

.profile img{
  margin: auto;
  margin-top: 20px;
}

.profile_button {
  width: fit-content;
  margin: 0 auto;
}

.profile_button a{
  padding: 0 10px;
}

.profile_button img{
  width: 25px;
  height: 25px;
}

.card{
  max-width: 90vw;
  margin: 10px auto;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.work_pic{
  padding: 0;
  width: 100%;
}

.foot-bg{
  background-image: url(../public/img/footer_section.png);
  background-size: cover;
}

#foot_logo{
  margin: 20px auto;
  width: auto !important;
}

.table_foot_section ul{
  padding: 0 auto;
}

.table_foot_section h2{
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  align-self: center;
  padding-right: 20px;
}

.table_foot_section ul li{
  font-size: 10pt;
  display: block;
  text-align: center;
}

.foot_section_link{
  opacity: 100%;
  transition: opacity 300ms 0ms;
}

footer{
  background-color: black;
  width: 100%;
}

footer p{
  font-size: 6pt;
  margin: auto;
  text-align: center;
}

.foot_button{
  padding: 0 20px;
}

.foot_button img{
  width: 25px;
  height: 25px;
}

#line {
  width: 100%;
  height: 15px;
  position: relative;
}

#goTopBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  padding: 10px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  opacity: 60%;
  background-color: transparent;
}

#goTopBtn:hover {
  opacity: 100%;
}

#goTopBtn img {
  height: 50px;
}

.title_certificate{
  margin-top: 10px;
  font-size: 20pt;
  color: #8F6500;
  font-weight: bold;
}

.item_description{
  font-size: 12pt;
  color: gray;
  font-style: italic;
}

hr{
  border-color: #8f6500;
  border-width: 1px;
}

.grid {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 60px 90px;
}

img, .profile img {
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px){
  .hover_scale {
      transform: scale(1);
      transition: transform 500ms;
  }
  
  .hover_scale:hover{
      transform: scale(1.5);
      transition: transform 500ms;
  }
  
  .title {
      font-size: 30pt;
  }

  .profile{
      padding-bottom: 20px;
      width: 700px;
      height: 75vh;
  }

  .profile img {
      margin: auto;
  }

  .profile_detail{
      max-height: 100%;
      overflow-y: scroll;
  }

  .profile_detail::-webkit-scrollbar{
      display: none;
  }

  .profile_button img{
      width: 35px;
      height: 35px;
  }

  .card {
      padding-bottom: 10px;
  }

  .card img{
      margin-top: 15px;
  }

  .table_foot_section ul{
      padding-top: 20px;
  }

  .table_foot_section ul li{
      text-align: left;
  }

  .table_foot_section h2{
      text-align: right;
  }

  #line {
      width: 225px;
      height: auto;
      position: absolute;
  }
}

@media (min-width: 992px){
  .navbar-collapse:not(.show) {
    overflow: visible;
  }

  .nav-item{
      border-left: 1px #FFECD5 solid;
      padding: 0 12px;
      text-align: center;
      width: fit-content;
  }
  
  .navbar-collapse ul{
      border-right: 1px #FFECD5 solid;
      padding: 0;
  }

  .profile{
      padding-bottom: 20px;
      width: 900px;
      height: 75vh;
  }

  #line {
      width: 350px;
  }

  .nav-icon{
      display: flex;
  }
}

@media (min-width: 1200px) {
  .card {
      max-width: 1200px;
      margin: 10px auto;
  }
}

/*Css below belong to hamburger icon*/
/*Icon 1*/
.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
  background: #e65100;
  }
  
  .animated-icon2 span {
  background: #e3f2fd;
  }
  
  .animated-icon3 span {
  background: #f3e5f5;
  }
  
  .animated-icon1 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
  top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
  top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }
  
  /* Icon 3*/
  
  .animated-icon2 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
  }
  
  .animated-icon2 span:nth-child(4) {
  top: 20px;
  }
  
  .animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  .animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  
  .animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  /* Icon 4 */
  
  .animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
  }
  
  .animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  }
  
  .animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
  }
  /*hamburger icon end*/